$background: #726662;
$background-light: #aa8980;
$success: #8ca38b;
$alert: #f7d6aa;
$error: #463a36;
$text: #ffffff;
$lose: #d86262;

$input: #5a4d49;
$max-width: 700px;

$font: "Open Sans", sans-serif;
